<footer class="mt4">
  <div class="max-width-3 mx-auto flex flex-auto flex-wrap py3">
    <div class="flex-auto center">
      <p>
        Built with <span class="heart">♥</span> by <a href="https://twitter.com/kuzzmi">@kuzzmi</a>
      </p>
      <br />
      <a href="https://twitter.com/{{ site.social_handlers.twitter }}"><i class="icon-twitter"></i></a>
      <a href="https://facebook.com/{{ site.social_handlers.facebook }}"><i class="icon-facebook"></i></a>
      <a href="https://github.com/{{ site.social_handlers.github }}"><i class="icon-github"></i></a>
      <a href="https://linkedin.com/in/{{ site.social_handlers.linkedin }}"><i class="icon-linkedin"></i></a>
      <a href="http://www.google.com/recaptcha/mailhide/d?k=01u9w1IrkGbjUo7HO21LHZnw==&c=Z6ZmOi-m7Z0AJ4pmruD3Mw=="><i class="icon-mail"></i></a>
    </div>
    {% if site.related_posts %}
    <div class="flex-auto">
      <big>
        Other related posts
      </big>
      <br />
      <ul class="list-reset">
        {% for post in site.related_posts limit:4 offset:4 %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</footer>
