{% if page.layout == 'post' %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | prepend: site.url }}"
  },
  "headline": "{{ page.title }}",
  "image": [],
  "datePublished": "{{ page.date | date: \"%Y-%m-%dT%k:%M:%S%z\" }}",
  "dateModified": "{{ page.modified | date: \"%Y-%m-%dT%k:%M:%S%z\" }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author }}"
  },
   "publisher": {
    "@type": "Person",
    "name": "{{ site.author }}"
  },
  "description": "{{ page.description }}"
}
</script>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
{% endif %}
