{% comment %}
Common
{% endcomment %}
<meta name="author" content="{{ site.author }}" />
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta name="keywords" content="{{ site.keywords }}" />

{% comment %}
Facebook
{% endcomment %}
{% if page.tags %}
<meta property="og:type" content="article">
{% for tag in page.tags %}
<meta property="article:tag" content="{{ tag }}">
{% endfor %}
<meta property="article:author" content="https://kuzzmi.com/about">
<meta property="article:publisher" content="https://kuzzmi.com/about">
<meta property="article:section" content="Technology">
{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.image %}
<meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
{% else %}
<meta property="og:image" content="{{ "/assets/img/blog-image.png" | prepend: site.baseurl | prepend: site.url }}">
{% endif %}
<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">

{% comment %}
Twitter
{% endcomment %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.social_handlers.twitter }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
{% if page.image %}
<meta property="twitter:image:src" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
{% else %}
<meta property="twitter:image:src" content="{{ "/assets/img/blog-image.png" | prepend: site.baseurl | prepend: site.url }}">
{% endif %}
