<nav class="flex flex-row justify-between px3">
  <div>
    <a class="title-link" href="{{ "/" | relative_url }}">
      {{ site.title | escape }}<span class="blink cursor">_</span>
    </a>
  </div>

  <div>
    <a class="page-link {% if page.url == "/" or page.url == "/index.html" or page.url contains "blog" %}active{% endif %}" href="{{ "/" | relative_url }}">blog</a>
    <a class="page-link {% if page.url == "/projects/" %}active{% endif %}" href="{{ "/projects/" | relative_url }}">projects</a>
    <a class="page-link {% if page.url == "/about/" %}active{% endif %}" href="{{ "/about/" | relative_url }}">about</a>
  </div>
</nav>
