<ul class="list-reset">
{% for post in include.posts %}
<li class="mb4">
  <div class="mb1">
    <a href="/blog/{{ post.slug }}">
      <h2 class="my0 post-title">{{ post.title }}</h2>
    </a>
    <div class="meta">
      <small>{{ post.date | date_to_long_string }}</small>
      <small>&middot;</small>
      {% assign post_url = post.url | replace: '/index.html', '' %}
      <small><a href="{{ post_url | prepend: site.url }}#disqus_thread" data-disqus-identifier="{{ post_url }}"></a></small>
      {% if post.updated %}
      <small>&middot;</small>
      <small>{{ post.updated | date_to_long_string }}</small>
      {% endif %}
    </div>
  </div>
  <p class="my0">{{ post.description }}</p>
  {% include tags.html tags=post.tags %}
</li>

{% endfor %}
</ul>
