<div>
  <h4 class="inline">Tags:</h4>
  <ul class="list-reset inline mt1">
    {% for tag in include.tags %}
    <li class="inline tag">
      <small><a href="/blog/tags/{{ tag | slugify }}">{{ tag }}</a></small>
    </li>
    {% endfor %}
  </ul>
</div>
