// -----------------------
// Colors
$accent-color: rgb(255, 131, 0);

// -----------------------
// Text
$font-size: 1.2em;
$font-family: "PT Sans", sans-serif;
$font-family-alt: "Open Sans", sans-serif;
$font-family-mono: "Overpass Mono", monospace;
$text-color: rgba(0, 0, 0, .8);

// -----------------------
// Links
$link-color: $accent-color;

// -----------------------
// Navigation Bar
$navbar-margin-x: 60px;
$navbar-margin-y: 0px;
$navbar-font-ratio: 1;
$navbar-text-color: black;

// -----------------------
// Tag
$tag-background-color: rgba(0, 0, 0, .1);

// -----------------------
// Typography
$blockquote-border: 10px solid $tag-background-color;

html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-family;
    line-height: 1.5;
    font-size: .95em;
    color: $text-color;
    @media screen and (min-width: 52em) {
        line-height: 2;
    }
    @media screen and (min-width: 52em) {
        font-size: 1em;
    }
}

body {
    background-color: white;
}

html {
    background-color: #3c3c3c;
}

figure {
    margin: 0;
}

#markdown-toc {
    display: none;
    position: fixed;
    margin-left: 24rem;
    left: 50%;
    min-width: 500px;
    list-style: none;

    @media screen and (max-width: 72em) {
        display: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-alt;
    letter-spacing: -1px;
}

h1 {
    font-size: 3em;
}

h3, h4, h5, h6 {
    text-transform: uppercase;
}

code,
pre {
    font-family: $font-family-mono;
    font-size: .9em;
    background-color: #fcfcfc;
    border-radius: 4px;
    margin: 0;
    overflow: auto;
}

pre {
    border: 1px solid #ccc;
    padding: 20px;
}

code.highlighter-rouge {
    background-color: #fcfcfc;
    padding: 4px 8px 2px;
    border: 1px solid #ccc;
    color: #f05f70;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    h2 {
        color: $text-color;
        &:hover {
            color: $link-color;
        }
    }
}

nav {
    padding: $navbar-margin-x * .5 $navbar-margin-y * .5;
    margin-bottom: $navbar-margin-y;

    @media screen and (min-width: 52em) {
        padding: $navbar-margin-x $navbar-margin-y;
    }

    a {
        font-size: $font-size;
        @media screen and (min-width: 52em) {
            font-size: $font-size * $navbar-font-ratio;
        }
        // font-weight: bold;
        font-family: $font-family-mono;
        color: $navbar-text-color;
        padding: 5px 10px;

        &.active {
            color: white;
            background-color: black;
        }

        &.title-link {
            padding: 0;
            color: $link-color;

            .cursor {
                color: $navbar-text-color;
            }
        }
    }
}

footer {
    background-color: #3c3c3c;
    color: white;

    [class^="icon-"] {
        color: white;
    }
}

.blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
}

blockquote {
    border-left: $blockquote-border;
    margin-left: 0;
    padding-left: 1em;
}

hr {
    border: none;
    height: 3px;
    background-color: $tag-background-color;
    border-radius: 3px;
}

.content {
    position: relative;

    img {
        display: block;
        margin: 0 auto;
        vertical-align: middle;
        border: 0;
        max-width: 90%;
    }
}

ul {
    // list-style: none;
    li {
        margin-left: -30px;
        // &:before {
        //     content: "* ";
        // }
    }
    &.list-reset {
        li {
            margin-left: initial;
        }
    }
}

ul,
ol {
    padding-left: 30px;
}

.heart {
    color: red;
}

.meta {
    font-size: .9em;
}

.post-title {
    line-height: 1;
}

.post-card {
    height: 150px;
    box-sizing: border-box;
    overflow: hidden;

    p {
        text-overflow: ellipsis;
    }
}

table {
    width: 100%;

    td {
        vertical-align: top;
        padding: 0 15px;

        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            padding-right: 0;
        }
    }
}

$sotm-date-lines-padding: 20px;
.sotm-date {
    display: flex;
    align-items: center;

    &:before,
    &:after {
        content: '';
        display: flex;
        flex: 1;
        line-height: 0;
        height: 0;
        border-bottom: 1px dotted rgba(0,0,0,.3);
    }

    &:before {
        margin-right: $sotm-date-lines-padding;
    }

    &:after {
        margin-left: $sotm-date-lines-padding;
    }
}
.icon-star,
.icon-star-empty {
    color: #ffb700;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
