<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    {% include meta-tags.html %}

    <base href="{{ site.url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <title>{{ page.title }} - {{ site.author }}</title>
    <link href="/css/basscss.min.css" rel="stylesheet" />
    <link href="/css/fonts.css" rel="stylesheet" />
    <link href="/css/fontello.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>

    <script type="text/javascript">
      var disqus_shortname = 'kuzzmi';
      {% if jekyll.environment != "production" %}
      var disqus_developer = 1;
      {% endif %}
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>

    {% comment %}
    {% include google-structured-data.html %}
    {% endcomment %}
  </head>

  <body>
    <div class="max-width-3 mx-auto">
      {% include navbar.html %}
      <div class="px3 content">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56cb9c824996d58e"></script>
  </body>
</html>
