---
layout: default
---
{% if paginator.total_pages > 1 %}
<div class="pager flex justify-between">
    <div class="previous">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">&larr; Newer Stuff</a>
        {% endif %}
    </div>
    <div class="next">
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">Older Stuff &rarr;</a>
        {% endif %}
    </div>
</div>
{% endif %}
{% include posts-list.html posts=paginator.posts %}
{% if paginator.total_pages > 1 %}
<div class="pager flex justify-between">
    <div class="previous">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">&larr; Newer Stuff</a>
        {% endif %}
    </div>
    <div class="next">
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">Older Stuff &rarr;</a>
        {% endif %}
    </div>
</div>
{% endif %}
