---
layout: default
---

<h1 class="my0 post-title">{{ page.title }}</h1>
<div class="meta">
  <small>{{ page.date | date_to_long_string }}</small>
  <small>&middot;</small>
  {% assign post_url = page.url | replace: '/index.html', '' %}
  <small><a href="{{ post_url | prepend: site.url }}#disqus_thread" data-disqus-identifier="{{ post_url }}"></a></small>
  {% if page.updated %}
  <small>&middot;</small>
  <small>{{ page.updated | date_to_long_string }}</small>
  {% endif %}
</div>
{{ content }}
<div class="my3"></div>
{% include tags.html tags=page.tags %}
<div>
  <h3>Might also be interesting for you</h3>
  <div class="post-cards flex flex-wrap">
  {% for post in site.related_posts limit:4 %}
    <div class="post-card col-6 my2">
      <a href="{{ post.url }}">{{ post.title }}</a>
      <p class="p0 m0 pr2">
        {{ post.description }}
      </p>
    </div>
  {% endfor %}
  </div>
  <div class="my2"></div>
  <h3>Comments</h3>
  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
</div>
