---
layout: default
---
{% assign total_score = 0 %}
{% assign count = 0 %}
{% for score in page.scores %}
  {% assign total_score = total_score | plus: score.score %}
  {% assign count = count | plus: 1 %}
{% endfor %}
{% assign maximum_score = count | times: 5 %}
{% assign ratio = total_score | times: 1.0 | divided_by: maximum_score %}
{% assign rating = 5 | times: ratio %}

<h3 class="sotm-date center">Software of the month - {{ page.date | date: "%B" }} '{{ page.date | date: "%y" }}</h3>
<h1 class="my0 mb1 post-title center">{{ page.name }}</h1>
<div class="mt1 mb2 center">
  {% for i in (1..5) %}
    {% if i < rating %}
    <i class="h3 icon-star"></i>
    {% else %}
    <i class="h3 icon-star-empty"></i>
    {% endif %}
  {% endfor %}
</div>
<img src="{{ page.logo }}" />
<div class="mt2 center">
  {% include tags.html tags=page.tags %}
</div>

<h2>Description</h3>
<p>{{ page.description }}</p>

<h2>Thoughts</h2>
{{ content }}

{% assign total_score = 0 %}
{% assign count = 0 %}
<h2>Scores</h2>
{% for score in page.scores %}
<div class="clearfix mb2">
  <div class="md-col md-col-2 col col-10 bold">
    {% case score.type %}
      {% when "portability" %}Portability
      {% when "usability" %}Usability/UX
      {% when "customization" %}Customization
      {% when "ui" %}UI
      {% when "coolfactor" %}Cool Factor
      {% when "practicality" %}Practicality
      {% when "easeofuse" %}Ease of Use
    {% endcase %}
  </div>
  <div class="md-col md-col-1 col col-2 bold center">
    {{ score.score }}/5
    {% assign total_score = total_score | plus: score.score %}
    {% assign count = count | plus: 1 %}
  </div>
  <div class="md-col md-col-9 col col-12">
    {{ score.comment }}
  </div>
</div>
{% endfor %}
<div class="clearfix">
  <div class="md-col md-col-2 bold">Total</div>
  <div class="md-col md-col-1 bold center">{{ total_score }}/{{ count | times: 5 }}</div>
</div>

<h2>Screenshots</h3>
{% for ss in page.screenshots %}
  <img style="margin-bottom: 0.4em" src="{{ ss }}" />
{% endfor %}

<div>
  <div class="my4"></div>
  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
</div>
