---
layout: default
---
<div>
  <h4 class="inline-block mr1">Selected tag:</h4>
  <span class="tag p1"><a href="/blog/tags/{{ page.tag | slugify }}">{{ page.tag }}</a></span>
</div>
{% assign posts = site.posts | where_exp: "item", "item.tags contains page.tag" %}
{% include posts-list.html posts=posts %}
</ul>
